$max-width: 1024px;
$max-header-width: 1052px;
$font-size: 14px;

$wrapper-width: 960;
$header-mobile-cutoff: 900;

// Sizes from Bootstrap:
$small: 768px;
$extra-small: $small - 1px;
$medium: 992px;
$large: 1200px;

// Colors
$purple: #19111b;
$tan: #ccc1b6;
$brown: #534741;

// Fonts
$fell: 'IM Fell English SC', serif;
$ubuntu: 'Ubuntu', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
