.ubuntu{
  font-family: $ubuntu;
  font-weight: $ubuntu-light;
}

.parallax-window {
  min-height: 460px;
  background: transparent;
  background-position: top;
}

.parallax{
  height: 460px;
}

div.content-container{
  &._tan{
    background: url('../img/backgrounds/pale-background.jpg');
    color: $purple;
  }
  &._rust{
    background: url('../img/backgrounds/rust-background.jpg');
    color: $tan;
    font-family: $ubuntu;
  }
  .wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
  }
}

@import "partials/sg-spacer";
@import 'partials/sg-hero';
@import 'partials/sg-spaces';
@import 'partials/sg-people';
@import 'partials/sg-legacy';
@import 'partials/sg-artists';
