@mixin below-wrapper-min{
  @media only screen and (max-width: 959px){
    @content;
  }
}

@mixin mobile(){
  @media only screen and (max-width: 640px){
    @content;
  }
}

@mixin extra-small(){
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin small(){
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin medium(){
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin large(){
  @media (min-width: 1200px){
    @content;
  }
}

@mixin center-both(){
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-horizontally(){
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin center-vertically(){
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin mirrorImage{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}