section.our-people{
  padding: 60px 0 0 0;
  text-align: center;
  @include clearfix;
  h2{
    text-transform:uppercase;
    margin: 0 0 25px 0;
    font-family: $fell;
    font-weight: normal;
    letter-spacing:-1px;
  }
  .person, a{
    color: inherit;
    h3{
      font-size: 14px;
      text-transform: uppercase;
      margin: 15px 0 -2px 0;
    }

    &:last-child{
      padding-bottom: 72px;
    }

    &:not(:last-child){
      @include medium{
        padding-bottom: 40px;
      }
      @include small{
        padding-bottom: 40px;
      }
      @include extra-small{
        padding-bottom: 40px;
      }
    }
  }

  .title{
    font-size: 12px;
  }
}