/*
Slide in Content Panel
*/

.content-panel {
  /*...*/
  visibility: hidden;
  transition: visibility 0s 0.6s;
  background-color: rgba(25, 17, 27, 0.6);
  z-index: 4;
}

.content-panel.is-visible {
  visibility: visible;
  transition: visibility 0s 0s;
}

.no-scroll {
  overflow: hidden;
}

.content-panel{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s 0.6s;
  background-color: rgba(25, 17, 27, 0.6);
  .content-panel-container{
    position: fixed;
    width: 90vw;
    height: 90vh;
    @include center-both;
    .content-panel-content{
      position: relative;
      width: 100%;
      height: 100%;
      padding: 20px;
      .content-panel-close{
        position: absolute;
        top: 40px;
        right: 40px;
        height: 18px;
        width: 18px;
        z-index: 2;
        border: none;
        background-color: transparent;
        background-image: url('../img/close-x.png');
      }
      section{
        width: 100%;
        height: 100%;
        padding: 20px;
        border: 1px solid $purple;
        font-family: $ubuntu;
        font-weight: $font-weight-light;
        overflow-y: scroll;
        .carousel-nav {
          width: 20px;
          height: 40px;
          border: none;
          background: url('../img/carousel-nav.png');
          &.right{
            background-position: 0 -20px;
          }
        }
        h2,h3{
          font-family: $fell;
          text-transform: uppercase;
        }
        &.story{
          h2,h3,.scrollable-content{
            padding-right:20px;
          }
        }
        &.spaces{
          overflow-y: scroll;
          margin: 0;
          padding: 0;
          align-content: center;
          align-items: center;
          .vertical-align{
            display:flex;
            align-items: center;
          }
          #SpaceSlider{
            margin: 20px 10px 0 10px;
            @include extra-small {
              margin: 20px 0 0 0;
            }
            .spaceSlider-slide {
              width: 60vw;
              max-width: 640px;
              margin: 0 200px;
              @include extra-small{
                width: 200px;
              }
              img {
                width: 100%;
                height: auto;
              }
            }
            p{
              text-align: left;
            }
          }
        }
        &.people{
          overflow-y: scroll;
          margin: 0;
          padding: 0;
          align-content: center;
          align-items: center;
          .vertical-align{
            display:flex;
            align-items: center;
          }
          #PeopleSlider{
            margin: 20px 10px 0 10px;

            @include extra-small {
              margin: 60px 0 0 0;
            }

            .spacer{
              margin: 10px 0;
              .piece{
                height: 7px;
              }
            }

            .people-slide {
              width: 60vw;
              max-width: 640px;
              margin: 0 200px;
              padding: 0 40px;
              @include extra-small{
                padding: 0 0 0 0;
              }
              img {
                width: 100%;
                max-width: 280px;
                height: auto;
                margin: 0 auto;
              }
              h2,h3{
                text-align:center;
              }

              .q-and-a{
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
                p{
                  text-align: left;
                  span.question{
                    font-weight: $font-weight-bold;
                    text-transform: uppercase;
                  }
                }
                @include extra-small{
                  -webkit-column-count: 1;
                  -moz-column-count: 1;
                  column-count: 1;
                }
              }
            }

          }
        }
      }
    }
  }
}