section.studio-happenings{
  padding: 85px 0 40px 0;
  font-family: $fell;
  h2{
    text-transform: uppercase;
    margin: 0 0 42px 0;
    padding: 0;
    text-align:center;
  }
  .happening{
    width: 150px;
    height: 150px;
    background-color: $brown;
    margin: 0 auto 40px auto;
    text-align: center;
  }
  #instagram{
    @include extra-small{
      padding: 20px 0;
    }
    @include small{
      padding: 20px 0;
    }
    @include large{
      padding: 40px 0;
    }
    .instagram-post{
      padding-top: 10px;
      padding-bottom: 10px;
      .instagram-post-details, .instagram-post-image, .instagram-post-text{
        width: 150px;
        display: block;
        margin: 0 auto;
      }
      .instagram-post-details{
        .instagram-post-date{
          display: inline;
          float: left;
        }
        .instagram-post-likes{
          display: inline;
          float: right;
        }
      }
      .instagram-post-image{
        cursor: pointer;
      }
    }

  }
}