.spacer{
  width: 100%;
  position:relative;
  display: flex;
  margin-top: 45px;
  .piece{
    height:22px;
    
  }

  .left, .right{
    min-width:28px;
    width: 100%;
    background: url('../../../img/spacer-left.png') left center no-repeat;
  }

  @include below-wrapper-min{
    .left{
      margin-left:10px;
    }
    .right{
      margin-right: 10px;
    }
  }

  .right{
    @include mirrorImage;
  }
  .middle{
    float: left;
  }
  @include clearfix;
}