section.artists{
  padding: 60px 0 70px;
  text-align: center;
  font-family: $fell;
  @include clearfix;
  h2{
    text-transform: uppercase;
  }
  ul.artist-list{
    margin: 0;
    padding: 0;
    li.legacy-item{
      a{
        color: inherit;
      }
      h3{
        font-family: $ubuntu;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}