
.additional-content{
  display: none;
  border:2px solid $purple;
  padding: 20px;
  position: relative;
  font-family: $ubuntu;
  &._tan{
    h2,h3{
      font-family: $fell;
    }
  }
  &.spaces{
    position: relative;
    padding: 20px 0;
    margin: 0;
    .carousel-nav-column{
      display: flex;
      align-items: center;
    }
    .space-details-nav{
      width: 20px;
      height: 40px;
      border: none;
      background: url('../img/carousel-nav.png');
      position: absolute;
      left: 10px;
      @include center-vertically;
      &.right{
        background-position: 0 -20px;
        left: auto;
        right: 10px;
      }

      @include small{
        left: -2vw;
        &.right{
          right: -2vw;
        }
      }

      @include extra-small{
        left: 22px;
        &.right{
          right: 22px;
        }
      }
    }
    .space-slide{
      position: relative;
      .space-slide-container{
        font-family: $ubuntu;
        text-align: left;
        position: relative;
        @include small{
          width: 640px;
        }
        @include extra-small{
          width: 70vw;
        }
        margin: 0 auto;
        h3{
          font-family: $fell;
          text-transform: uppercase;
          text-align: center;
        }
        margin: 0 100px;
        img{
          width: 100%;
          height: auto;
        }
      }

    }
  }

  &.people{
    position: relative;
    .carousel-nav-column{
      display: flex;
      align-items: center;
    }
    .people-details-nav{
      width: 20px;
      height: 40px;
      border: none;
      background: url('../img/carousel-nav.png');
      position: absolute;
      left: 10px;
      @include center-vertically;
      &.right{
        background-position: 0 -20px;
        left: auto;
        right: 10px;
      }

      @include extra-small{
        left: 5px;
        &.right{
          right: 5px;
        }
      }
    }
    .people-slide{
      position: relative;
      .people-slide-container{
        font-family: $ubuntu;
        text-align: left;
        position: relative;
        p>span.label{
          color: inherit;
          font-weight: 600;
          font-size: inherit;
          margin: 0;
          padding: 0;
        }
        @include small{
          width: 640px;
        }
        @include extra-small{
          width: 70vw;
        }
        h3{
          font-family: $fell;
          text-transform: uppercase;
          text-align: center;
        }
        img.portrait{
          width: 100%;
          max-width: 284px;
          height: auto;
          margin: 0 auto;
        }
        margin: 0 400px;
      }
    }
  }
}

.secondary-content{



  &.people-details{
    position: relative;
    .carousel-nav-column{
      display: flex;
      align-items: center;
    }
    .people-details-nav{
      width: 20px;
      height: 40px;
      border: none;
      background: url('../img/carousel-nav.png');
      position: absolute;
      left: 10px;
      @include center-vertically;
      &.right{
        background-position: 0 -20px;
        left: auto;
        right: 10px;
      }

      @include extra-small{
        left: 5px;
        &.right{
          right: 5px;
        }
      }
    }
    .people-slide{
      position: relative;
      .people-slide-container{
        font-family: $ubuntu;
        text-align: left;
        position: relative;
        p>span.label{
          color: inherit;
          font-weight: 600;
          font-size: inherit;
          margin: 0;
          padding: 0;
        }


        @include small{
          width: 640px;
        }
        @include extra-small{
          width: 70vw;
        }
        h3{
          font-family: $fell;
          text-transform: uppercase;
          text-align: center;
        }
        img.portrait{
          width: 100%;
          max-width: 284px;
          height: auto;
          margin: 0 auto;
        }
        margin: 0 100px;
      }
    }
  }
}


