.spaces{
  margin: 56px 0 1px 0;
  padding: 0 0 94px 0;
  text-align: center;

  @include clearfix;

  h2,h3,h4{
    font-family: $fell;
    font-weight: normal;
    letter-spacing:-1px;
    text-transform:uppercase;
  }

  h2{
    margin: 0 0 25px 0;
  }

  .space{
    a{
      color: inherit;
    }
    h3{
      font-family: $fell;
      text-transform: uppercase;
      margin: 20px 0 5px;
    }


    &:not(:last-child){
      @include medium{
        padding-bottom: 20px;
      }
      @include small{
        padding-bottom: 20px;
      }
      @include extra-small{
        padding-bottom: 20px;
      }
    }

  }

  .panoramic-link-wrapper{
    height: 20px;
    line-height:20px;
    .panoramic-link{
      display: block;
      text-align: center;
      margin: 0 0 10px;
      padding: 0;
      text-transform: uppercase;
      font-family: $ubuntu;
    }
  }

}