<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

RewriteEngine On
RewriteCond %{HTTP_HOST} ^southerngroundnashville\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://southerngroundnashville.com/$1 [R=301,L]