<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>

<!--
Build:
{% include './src/rev.html' %}
-->


    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/vendor/normalize.css">
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <link href='https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Ubuntu:300' rel='stylesheet' type='text/css'>

    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div id="Content">

    <!--
    // '##::::'##:'########::::'###::::'########::'########:'########::
    //  ##:::: ##: ##.....::::'## ##::: ##.... ##: ##.....:: ##.... ##:
    //  ##:::: ##: ##::::::::'##:. ##:: ##:::: ##: ##::::::: ##:::: ##:
    //  #########: ######:::'##:::. ##: ##:::: ##: ######::: ########::
    //  ##.... ##: ##...:::: #########: ##:::: ##: ##...:::: ##.. ##:::
    //  ##:::: ##: ##::::::: ##.... ##: ##:::: ##: ##::::::: ##::. ##::
    //  ##:::: ##: ########: ##:::: ##: ########:: ########: ##:::. ##:
    // ..:::::..::........::..:::::..::........:::........::..:::::..::
    -->

    <header id="Home">

        <div class="wrapper">

            <img class="logo" src="img/logo.png"/>

            <nav class="site-nav">
                <a href="#Home" class="nav-link">Home</a>
                <a href="#About" class="nav-link">About</a>
                <a href="#Studio" class="nav-link">Studio</a>
                <a href="#Clients" class="nav-link">Clients</a>
                <a href="#Social" class="nav-link">Social</a>
                <a href="#Booking" class="nav-link">Booking</a>
            </nav>

            <nav class="social-nav">
                <a class="social facebook" href="#">Facebook</a>
                <a class="social twitter" href="#">Twitter</a>
                <a class="social instagram" href="#">Instagram</a>
                <a class="social youtube" href="#">YouTube</a>
            </nav>

        </div>

        <!--
        // '##::::'##::'#######::'########::'####:'##:::::::'########::::'##::::'##:'########:'##::: ##:'##::::'##:
        //  ###::'###:'##.... ##: ##.... ##:. ##:: ##::::::: ##.....::::: ###::'###: ##.....:: ###:: ##: ##:::: ##:
        //  ####'####: ##:::: ##: ##:::: ##:: ##:: ##::::::: ##:::::::::: ####'####: ##::::::: ####: ##: ##:::: ##:
        //  ## ### ##: ##:::: ##: ########::: ##:: ##::::::: ######:::::: ## ### ##: ######::: ## ## ##: ##:::: ##:
        //  ##. #: ##: ##:::: ##: ##.... ##:: ##:: ##::::::: ##...::::::: ##. #: ##: ##...:::: ##. ####: ##:::: ##:
        //  ##:.:: ##: ##:::: ##: ##:::: ##:: ##:: ##::::::: ##:::::::::: ##:.:: ##: ##::::::: ##:. ###: ##:::: ##:
        //  ##:::: ##:. #######:: ########::'####: ########: ########:::: ##:::: ##: ########: ##::. ##:. #######::
        // ..:::::..:::.......:::........:::....::........::........:::::..:::::..::........::..::::..:::.......:::
        -->

        <div class="hamburger-button"/>

        <div class="hamburger-menu" style="display: none">
            <nav class="site-nav">
                <a href="#Home" class="nav-link">Home</a>
                <a href="#About" class="nav-link">About</a>
                <a href="#Studio" class="nav-link">Studio</a>
                <a href="#Clients" class="nav-link">Clients</a>
                <a href="#Social" class="nav-link">Social</a>
                <a href="#Booking" class="nav-link">Booking</a>
            </nav>
            <nav class="social-nav">
                <a class="social facebook" href="#">Facebook</a>
                <a class="social twitter" href="#">Twitter</a>
                <a class="social instagram" href="#">Instagram</a>
                <a class="social youtube" href="#">YouTube</a>
            </nav>
        </div>

    </header>

    <!--
    // '########:::::'###::::'########:::::'###::::'##:::::::'##::::::::::'###::::'##::::'##:::::'#######::'##::: ##:'########:
    //  ##.... ##:::'## ##::: ##.... ##:::'## ##::: ##::::::: ##:::::::::'## ##:::. ##::'##:::::'##.... ##: ###:: ##: ##.....::
    //  ##:::: ##::'##:. ##:: ##:::: ##::'##:. ##:: ##::::::: ##::::::::'##:. ##:::. ##'##:::::: ##:::: ##: ####: ##: ##:::::::
    //  ########::'##:::. ##: ########::'##:::. ##: ##::::::: ##:::::::'##:::. ##:::. ###::::::: ##:::: ##: ## ## ##: ######:::
    //  ##.....::: #########: ##.. ##::: #########: ##::::::: ##::::::: #########::: ## ##:::::: ##:::: ##: ##. ####: ##...::::
    //  ##:::::::: ##.... ##: ##::. ##:: ##.... ##: ##::::::: ##::::::: ##.... ##:: ##:. ##::::: ##:::: ##: ##:. ###: ##:::::::
    //  ##:::::::: ##:::: ##: ##:::. ##: ##:::: ##: ########: ########: ##:::: ##: ##:::. ##::::. #######:: ##::. ##: ########:
    // ..:::::::::..:::::..::..:::::..::..:::::..::........::........::..:::::..::..:::::..::::::.......:::..::::..::........::
    -->

    <div class="header-spacer"></div>

    <div id="Building" class="parallax">

        <div class="spacer s0"></div>

        <div id="parallax1" class="parallaxParent hidden-xs">
            <div class="parallax-image"></div>
        </div>

        <!--
        <div class="parallax-window building hidden-xs"
             data-parallax="scroll"
             data-image-src="/img/backgrounds/building.jpg"
             data-position-y="-200px"></div>
        -->

        <div class="static-cover building hidden-xs-up"></div>

    </div>

    <div class="content-container _tan">

        <div id="About" class="wrapper">

            <!--
            // '##::::'##:'########:'########:::'#######::
            //  ##:::: ##: ##.....:: ##.... ##:'##.... ##:
            //  ##:::: ##: ##::::::: ##:::: ##: ##:::: ##:
            //  #########: ######::: ########:: ##:::: ##:
            //  ##.... ##: ##...:::: ##.. ##::: ##:::: ##:
            //  ##:::: ##: ##::::::: ##::. ##:: ##:::: ##:
            //  ##:::: ##: ########: ##:::. ##:. #######::
            // ..:::::..::........::..:::::..:::.......:::
            -->

            <section class="hero">
                <div class="image col-xs-12 col-md-6">
                    <img src="http://fpoimg.com/460x280?text=Video One"/>
                </div>
                <div class="copy col-xs-12 col-md-6">
                    <h1>A Home in Music city</h1>
                    <div>
                        {{data.sections.hero.copy}}
                    </div>
                    <button class="read-more" data-target="section.additional-content.story">Read More</button>
                </div>
            </section>

            <div class="spacer">

                <div class="piece left"></div>

                <div class="piece middle">
                    <img src="img/spacer-center.png"/>
                </div>

                <div class="piece right"></div>

            </div>

            <!--
            // :'######::'########:::::'###:::::'######::'########::'######::
            // '##... ##: ##.... ##:::'## ##:::'##... ##: ##.....::'##... ##:
            //  ##:::..:: ##:::: ##::'##:. ##:: ##:::..:: ##::::::: ##:::..::
            // . ######:: ########::'##:::. ##: ##::::::: ######:::. ######::
            // :..... ##: ##.....::: #########: ##::::::: ##...:::::..... ##:
            // '##::: ##: ##:::::::: ##.... ##: ##::: ##: ##:::::::'##::: ##:
            // . ######:: ##:::::::: ##:::: ##:. ######:: ########:. ######::
            // :......:::..:::::::::..:::::..:::......:::........:::......:::
            -->

            <section id="Studio" class="spaces">

                <h2>Spaces</h2>

                <div class="row">

                    {% for space in data.sections.spaces.list %}

                    <div class="space col-xs-12 col-sm-6 col-md-4 col-lg-5ths">
                        <a class="space-link"
                           data-target="section.additional-content.spaces"
                           data-slide-index="{{loop.index0}}"
                           href="#">
                            <img src="{{space.image}}"/>
                            <h3>{{space.name}}</h3>
                        </a>
                    </div>

                    {% endfor %}

                </div>

            </section>

        </div>

    </div>

    <!--
    // '########:::::'###::::'########:::::'###::::'##:::::::'##::::::::::'###::::'##::::'##::::'########:'##:::::'##::'#######::
    //  ##.... ##:::'## ##::: ##.... ##:::'## ##::: ##::::::: ##:::::::::'## ##:::. ##::'##:::::... ##..:: ##:'##: ##:'##.... ##:
    //  ##:::: ##::'##:. ##:: ##:::: ##::'##:. ##:: ##::::::: ##::::::::'##:. ##:::. ##'##::::::::: ##:::: ##: ##: ##: ##:::: ##:
    //  ########::'##:::. ##: ########::'##:::. ##: ##::::::: ##:::::::'##:::. ##:::. ###:::::::::: ##:::: ##: ##: ##: ##:::: ##:
    //  ##.....::: #########: ##.. ##::: #########: ##::::::: ##::::::: #########::: ## ##::::::::: ##:::: ##: ##: ##: ##:::: ##:
    //  ##:::::::: ##.... ##: ##::. ##:: ##.... ##: ##::::::: ##::::::: ##.... ##:: ##:. ##:::::::: ##:::: ##: ##: ##: ##:::: ##:
    //  ##:::::::: ##:::: ##: ##:::. ##: ##:::: ##: ########: ########: ##:::: ##: ##:::. ##::::::: ##::::. ###. ###::. #######::
    // ..:::::::::..:::::..::..:::::..::..:::::..::........::........::..:::::..::..:::::..::::::::..::::::...::...::::.......:::
    -->
    <div id="Musicians" class="parallax">

        <div id="parallax2" class="parallaxParent hidden-xs">
            <div class="parallax-image"></div>
        </div>

        <!--
        <div class="parallax-window musicians hidden-xs"
             data-parallax="scroll"
             data-image-src="/img/backgrounds/musicians.jpg"></div>
        -->

        <div class="static-cover muscians hidden-xs-up"></div>

    </div>

    <div class="content-container _rust">

        <div class="wrapper">

            <!--
            // '########::'########::'#######::'########::'##:::::::'########:
            //  ##.... ##: ##.....::'##.... ##: ##.... ##: ##::::::: ##.....::
            //  ##:::: ##: ##::::::: ##:::: ##: ##:::: ##: ##::::::: ##:::::::
            //  ########:: ######::: ##:::: ##: ########:: ##::::::: ######:::
            //  ##.....::: ##...:::: ##:::: ##: ##.....::: ##::::::: ##...::::
            //  ##:::::::: ##::::::: ##:::: ##: ##:::::::: ##::::::: ##:::::::
            //  ##:::::::: ########:. #######:: ##:::::::: ########: ########:
            // ..:::::::::........:::.......:::..:::::::::........::........::
            -->

            <section class="our-people">

                <h2>Our People</h2>

                <div class="row">

                    {% for person in data.sections.people.list %}

                    <div class="person col-xs-12 col-sm-12 col-md-6 col-lg-3">

                        <a class="person-detail-link"
                           data-target="section.additional-content.people"
                           data-slide-index="{{loop.index0}}"
                           href="#">
                            <div class="person-portrait">
                                <img src="{{person.image}}"/>
                            </div>
                            <h3>{{person.name}}</h3>
                            <span class="title">{{person.title}}</span>
                        </a>

                    </div>

                    {% endfor %}

                </div>

            </section>

        </div>

    </div>

    <!--
    // '########:::::'###::::'########:::::'###::::'##:::::::'##::::::::::'###::::'##::::'##::::'########:'##::::'##:'########::'########:'########:
    //  ##.... ##:::'## ##::: ##.... ##:::'## ##::: ##::::::: ##:::::::::'## ##:::. ##::'##:::::... ##..:: ##:::: ##: ##.... ##: ##.....:: ##.....::
    //  ##:::: ##::'##:. ##:: ##:::: ##::'##:. ##:: ##::::::: ##::::::::'##:. ##:::. ##'##::::::::: ##:::: ##:::: ##: ##:::: ##: ##::::::: ##:::::::
    //  ########::'##:::. ##: ########::'##:::. ##: ##::::::: ##:::::::'##:::. ##:::. ###:::::::::: ##:::: #########: ########:: ######::: ######:::
    //  ##.....::: #########: ##.. ##::: #########: ##::::::: ##::::::: #########::: ## ##::::::::: ##:::: ##.... ##: ##.. ##::: ##...:::: ##...::::
    //  ##:::::::: ##.... ##: ##::. ##:: ##.... ##: ##::::::: ##::::::: ##.... ##:: ##:. ##:::::::: ##:::: ##:::: ##: ##::. ##:: ##::::::: ##:::::::
    //  ##:::::::: ##:::: ##: ##:::. ##: ##:::: ##: ########: ########: ##:::: ##: ##:::. ##::::::: ##:::: ##:::: ##: ##:::. ##: ########: ########:
    // ..:::::::::..:::::..::..:::::..::..:::::..::........::........::..:::::..::..:::::..::::::::..:::::..:::::..::..:::::..::........::........::
    -->
    <div id="Amplifier" class="parallax">

        <div id="parallax3" class="parallaxParent hidden-xs">
            <div class="parallax-image"></div>
        </div>

        <!--
        <div class="parallax-window musicians hidden-xs"
             data-parallax="scroll"
             data-image-src="/img/backgrounds/amplifier.jpg"></div>
        -->

        <div class="static-cover amplifier hidden-xs-up"></div>

    </div>

    <div class="content-container _tan">

        <div class="wrapper">

            <!--
            // '##:::::::'########::'######::::::'###:::::'######::'##:::'##:
            //  ##::::::: ##.....::'##... ##::::'## ##:::'##... ##:. ##:'##::
            //  ##::::::: ##::::::: ##:::..::::'##:. ##:: ##:::..:::. ####:::
            //  ##::::::: ######::: ##::'####:'##:::. ##: ##:::::::::. ##::::
            //  ##::::::: ##...:::: ##::: ##:: #########: ##:::::::::: ##::::
            //  ##::::::: ##::::::: ##::: ##:: ##.... ##: ##::: ##:::: ##::::
            //  ########: ########:. ######::: ##:::: ##:. ######::::: ##::::
            // ........::........:::......::::..:::::..:::......::::::..:::::
            -->

            <section id="Clients" class="legacy">

                <h2>Legacy</h2>

                <div class="row">
                    <div class="carousel-nav-column col-xs-2 col-sm-1">
                        <button id="LegacyPrev" class="carousel-nav left"></button>
                    </div>

                    <div id="Legacy-Slider" class="col-xs-8 col-sm-10">

                        {% for item in data.sections.legacy.list %}

                        <div class="legacy-item">

                            <img src="{{item.image}}"/>
                            <h3>{{item.name}} / {{item.year}}</h3>

                        </div>

                        {% endfor %}

                    </div>

                    <div class="carousel-nav-column col-xs-2 col-sm-1">
                        <button id="LegacyNext" class="carousel-nav right"></button>
                    </div>
                </div>


            </section>

            <div class="spacer">

                <div class="piece left"></div>

                <div class="piece middle">
                    <img src="img/spacer-center.png"/>
                </div>

                <div class="piece right"></div>

            </div>

            <!--
            // :::'###::::'########::'########:'####::'######::'########::'######::
            // ::'## ##::: ##.... ##:... ##..::. ##::'##... ##:... ##..::'##... ##:
            // :'##:. ##:: ##:::: ##:::: ##::::: ##:: ##:::..::::: ##:::: ##:::..::
            // '##:::. ##: ########::::: ##::::: ##::. ######::::: ##::::. ######::
            //  #########: ##.. ##:::::: ##::::: ##:::..... ##:::: ##:::::..... ##:
            //  ##.... ##: ##::. ##::::: ##::::: ##::'##::: ##:::: ##::::'##::: ##:
            //  ##:::: ##: ##:::. ##:::: ##::::'####:. ######::::: ##::::. ######::
            // ..:::::..::..:::::..:::::..:::::....:::......::::::..::::::......:::
            -->

            <section class="artists">

                {% for artist in data.sections.legacy.artists %}

                <div class="artist col-xs-12 col-sm-6 col-md-4">

                    {{artist.firstName}} {{artist.lastName}}

                </div>

                {% endfor %}

            </section>

        </div>
    </div>

    <!--
    // '########:::::'###::::'########:::::'###::::'##:::::::'##::::::::::'###::::'##::::'##::::'########::'#######::'##::::'##:'########::
    //  ##.... ##:::'## ##::: ##.... ##:::'## ##::: ##::::::: ##:::::::::'## ##:::. ##::'##::::: ##.....::'##.... ##: ##:::: ##: ##.... ##:
    //  ##:::: ##::'##:. ##:: ##:::: ##::'##:. ##:: ##::::::: ##::::::::'##:. ##:::. ##'##:::::: ##::::::: ##:::: ##: ##:::: ##: ##:::: ##:
    //  ########::'##:::. ##: ########::'##:::. ##: ##::::::: ##:::::::'##:::. ##:::. ###::::::: ######::: ##:::: ##: ##:::: ##: ########::
    //  ##.....::: #########: ##.. ##::: #########: ##::::::: ##::::::: #########::: ## ##:::::: ##...:::: ##:::: ##: ##:::: ##: ##.. ##:::
    //  ##:::::::: ##.... ##: ##::. ##:: ##.... ##: ##::::::: ##::::::: ##.... ##:: ##:. ##::::: ##::::::: ##:::: ##: ##:::: ##: ##::. ##::
    //  ##:::::::: ##:::: ##: ##:::. ##: ##:::: ##: ########: ########: ##:::: ##: ##:::. ##:::: ##:::::::. #######::. #######:: ##:::. ##:
    // ..:::::::::..:::::..::..:::::..::..:::::..::........::........::..:::::..::..:::::..:::::..:::::::::.......::::.......:::..:::::..::
    -->
    <div id="Studio" class="parallax">

        <div id="parallax4" class="parallaxParent hidden-xs">
            <div class="parallax-image"></div>
        </div>

        <!--
        <div class="parallax-window studio hidden-xs"
             data-parallax="scroll"
             data-image-src="/img/backgrounds/studio.jpg"></div>
        -->

        <div class="static-cover studio hidden-xs-up"></div>

    </div>

    <div id="Social" class="content-container _tan">

        <div class="wrapper">

            <!--
            // '##::::'##::::'###::::'########::'########::'########:'##::: ##:'####:'##::: ##::'######::::'######::
            //  ##:::: ##:::'## ##::: ##.... ##: ##.... ##: ##.....:: ###:: ##:. ##:: ###:: ##:'##... ##::'##... ##:
            //  ##:::: ##::'##:. ##:: ##:::: ##: ##:::: ##: ##::::::: ####: ##:: ##:: ####: ##: ##:::..::: ##:::..::
            //  #########:'##:::. ##: ########:: ########:: ######::: ## ## ##:: ##:: ## ## ##: ##::'####:. ######::
            //  ##.... ##: #########: ##.....::: ##.....::: ##...:::: ##. ####:: ##:: ##. ####: ##::: ##:::..... ##:
            //  ##:::: ##: ##.... ##: ##:::::::: ##:::::::: ##::::::: ##:. ###:: ##:: ##:. ###: ##::: ##::'##::: ##:
            //  ##:::: ##: ##:::: ##: ##:::::::: ##:::::::: ########: ##::. ##:'####: ##::. ##:. ######:::. ######::
            // ..:::::..::..:::::..::..:::::::::..:::::::::........::..::::..::....::..::::..:::......:::::......:::
            -->

            <section class="studio-happenings">
                <h2>Studio Happenings</h2>
                <div class="row">
                    <div class="col-xs-12">
                        <a class="twitter-timeline"
                           data-dnt="true"
                           data-theme="dark"
                           href="https://twitter.com/SG_Nashville">
                            Tweets by SG_Nashville
                        </a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </section>

        </div>

    </div>

    <!--
    // '########:::::'###::::'########:::::'###::::'##:::::::'##::::::::::'###::::'##::::'##::::'########:'####:'##::::'##:'########:
    //  ##.... ##:::'## ##::: ##.... ##:::'## ##::: ##::::::: ##:::::::::'## ##:::. ##::'##::::: ##.....::. ##:: ##:::: ##: ##.....::
    //  ##:::: ##::'##:. ##:: ##:::: ##::'##:. ##:: ##::::::: ##::::::::'##:. ##:::. ##'##:::::: ##:::::::: ##:: ##:::: ##: ##:::::::
    //  ########::'##:::. ##: ########::'##:::. ##: ##::::::: ##:::::::'##:::. ##:::. ###::::::: ######:::: ##:: ##:::: ##: ######:::
    //  ##.....::: #########: ##.. ##::: #########: ##::::::: ##::::::: #########::: ## ##:::::: ##...::::: ##::. ##:: ##:: ##...::::
    //  ##:::::::: ##.... ##: ##::. ##:: ##.... ##: ##::::::: ##::::::: ##.... ##:: ##:. ##::::: ##:::::::: ##:::. ## ##::: ##:::::::
    //  ##:::::::: ##:::: ##: ##:::. ##: ##:::: ##: ########: ########: ##:::: ##: ##:::. ##:::: ##:::::::'####:::. ###:::: ########:
    // ..:::::::::..:::::..::..:::::..::..:::::..::........::........::..:::::..::..:::::..:::::..::::::::....:::::...:::::........::
    -->
    <div id="Engineering" class="parallax">

        <div id="parallax5" class="parallaxParent hidden-xs">
            <div class="parallax-image"></div>
        </div>

        <!--
        <div class="parallax-window studio hidden-xs"
             data-parallax="scroll"
             data-image-src="/img/backgrounds/engineering.jpg"></div>
        -->

        <div class="static-cover engineering hidden-xs-up"></div>

    </div>

    <div id="Booking" class="content-container _tan">

        <div class="wrapper">

            <!--
            // '########:::'#######:::'#######::'##:::'##:'####:'##::: ##::'######::::'######::
            //  ##.... ##:'##.... ##:'##.... ##: ##::'##::. ##:: ###:: ##:'##... ##::'##... ##:
            //  ##:::: ##: ##:::: ##: ##:::: ##: ##:'##:::: ##:: ####: ##: ##:::..::: ##:::..::
            //  ########:: ##:::: ##: ##:::: ##: #####::::: ##:: ## ## ##: ##::'####:. ######::
            //  ##.... ##: ##:::: ##: ##:::: ##: ##. ##:::: ##:: ##. ####: ##::: ##:::..... ##:
            //  ##:::: ##: ##:::: ##: ##:::: ##: ##:. ##::: ##:: ##:. ###: ##::: ##::'##::: ##:
            //  ########::. #######::. #######:: ##::. ##:'####: ##::. ##:. ######:::. ######::
            // ........::::.......::::.......:::..::::..::....::..::::..:::......:::::......:::
            -->

            <section class="contact">

                <div class="row-fluid">
                    <div class="bookings-form col-xs-12 col-sm-6">
                        <h2>Bookings</h2>
                        <form class="row-fluid">
                            <input type="text" placeholder="Name" class="col-xs-8 col-s-8"/>
                            <input type="text" placeholder="Venue" class="col-xs-8 col-s-8"/>
                            <input type="text" placeholder="Email" class="col-xs-8 col-s-8"/>
                            <textarea class="col-xs-12"></textarea>
                            <div class="submit col-xs-12">
                                <button type="submit">
                                    Submit Request
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="contact-info col-xs-12 col-sm-6">
                        <h2>Contact</h2>
                        <h3>
                            Staff
                        </h3>
                        <div class="staff">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua Ut enim ad minim veniam, quis
                        </div>
                        <h3>
                            Location
                        </h3>
                        <div>
                            <div class="vcard">
                                <p class="adr">
                                    <span class="street-address">114 17th Ave S</span><br>
                                    <span class="city">Nashville</span>,
                                    <span class="state">TN</span> <span class="postal-code">37203</span>
                                </p>
                            </div>

                        </div>
                    </div>

            </section>

        </div>

    </div>

    <!--
        // '########::'#######:::'#######::'########:'########:'########::
        //  ##.....::'##.... ##:'##.... ##:... ##..:: ##.....:: ##.... ##:
        //  ##::::::: ##:::: ##: ##:::: ##:::: ##:::: ##::::::: ##:::: ##:
        //  ######::: ##:::: ##: ##:::: ##:::: ##:::: ######::: ########::
        //  ##...:::: ##:::: ##: ##:::: ##:::: ##:::: ##...:::: ##.. ##:::
        //  ##::::::: ##:::: ##: ##:::: ##:::: ##:::: ##::::::: ##::. ##::
        //  ##:::::::. #######::. #######::::: ##:::: ########: ##:::. ##:
        // ..:::::::::.......::::.......::::::..:::::........::..:::::..::
        -->

    <footer>
        <div class="wrapper">
            Website designed and developed by Southern Ground Creative. All content &copy; 2016 Southern Ground
            Nashville.
        </div>
    </footer>

</div>


<div class="content-panel from-right">
    <div class="content-panel-container">
        <div class="content-panel-content">

            <div class="row">

                <section class="additional-content story _tan">
                    <h2>Making Music History, Where Music History was Made.</h2>
                    <p>
                        In 2012, Southern Ground was searching for a small studio space in Nashville to record and
                        produce
                        records for Southern Ground Artists. When we stumbled upon the site that would later become our
                        home, we couldn't have fathomed the rich, musical history that had lived here for just over a
                        century.
                    </p>
                    <p>
                        Located at the foot of Nashville's music row, the building that houses Southern Ground Nashville
                        was
                        originally built between 1897 and 1903, and served as the Addison Avenue Cumberland Presbyterian
                        Church until the mid-1950s.
                    </p>
                    <p>
                        After a brief stint as a VFW Post, the facility was purchased by Fred Foster, owner of famed
                        recording company Monument Records, and transformed into Monument Studio in 1968. Managed at the
                        time by now-legendary engineers Mort Thomassen and Tommy Strong, many fabled country recordings
                        were
                        produced in this era, including Kris Kristofferson's first three albums. 
                    </p>
                    <p>
                        In 1975, the studio was purchased by Chip Young, renamed Young'un Sound and permitted to
                        continue
                        its tradition of pumping out classic Nashville recordings well into the 1980s. Later, Al Jolson,
                        Jr., son of the famous performer Al Jolson, purchased the studio and dubbed it with yet another
                        new
                        moniker: Masterlink Studio. It was during this era that the building transformed into a
                        high-tech
                        facility specializing in audio for video remixing, including mixes for TNN (Hee Haw, CMT, etc.) 
                    </p>
                    <p>
                        In the 1990s and 2000s, the walls of Masterlink witnessed a number of celebrated recordings,
                        including that of Neil Young's "Prairie Wind" album. But due to his ailing health, Jolson was
                        forced
                        to shut the studio down in 2010. It sat vacant for nearly two years, and, at one point, was in
                        serious danger of becoming a Mexican restaurant.
                    </p>
                    <p>
                        Here's where we come in. 
                    </p>
                    <p>
                        When Southern Ground acquired the studio in 2012, we began by renovating the now 100-year-old
                        building to restore much of its original character.  A Mix room was also added that includes an
                        SSL
                        4000G+ console ATC 300's and a small overdub space.
                    </p>
                    <p>
                        We were also lucky enough to inherit some of the classic recording gear that Masterlink left
                        behind,
                        including a Neve V3, 48 tracks of 2" analog tape, Ampex ATR-102 master 2-track recorder and
                        vintage
                        Neumann U47/U48 microphones (perhaps better known as The Beatles microphone). 
                    </p>
                    <p>
                        Thanks to our new location, incredible on-site talent and the impeccable taste in recording
                        equipment of those who came before us, we now have the ability to efficiently produce albums
                        from
                        start to finish, using a hybrid of classic analog and modern digital technology, all under one
                        roof.
                    </p>
                </section>

                <section class="additional-content spaces _tan">

                    <!--
                    // :'######::'########:::::'###:::::'######::'########:
                    // '##... ##: ##.... ##:::'## ##:::'##... ##: ##.....::
                    //  ##:::..:: ##:::: ##::'##:. ##:: ##:::..:: ##:::::::
                    // . ######:: ########::'##:::. ##: ##::::::: ######:::
                    // :..... ##: ##.....::: #########: ##::::::: ##...::::
                    // '##::: ##: ##:::::::: ##.... ##: ##::: ##: ##:::::::
                    // . ######:: ##:::::::: ##:::: ##:. ######:: ########:
                    // :......:::..:::::::::..:::::..:::......:::........::
                    // :'######:::::'###::::'########:::'#######::'##::::'##::'######::'########:'##:::::::
                    // '##... ##:::'## ##::: ##.... ##:'##.... ##: ##:::: ##:'##... ##: ##.....:: ##:::::::
                    //  ##:::..:::'##:. ##:: ##:::: ##: ##:::: ##: ##:::: ##: ##:::..:: ##::::::: ##:::::::
                    //  ##:::::::'##:::. ##: ########:: ##:::: ##: ##:::: ##:. ######:: ######::: ##:::::::
                    //  ##::::::: #########: ##.. ##::: ##:::: ##: ##:::: ##::..... ##: ##...:::: ##:::::::
                    //  ##::: ##: ##.... ##: ##::. ##:: ##:::: ##: ##:::: ##:'##::: ##: ##::::::: ##:::::::
                    // . ######:: ##:::: ##: ##:::. ##:. #######::. #######::. ######:: ########: ########:
                    // :......:::..:::::..::..:::::..:::.......::::.......::::......:::........::........::
                    -->

                    <div class="row">

                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">

                            <div id="SpaceSlider">
                                <div class="space-slide">
                                    <div class="space-slide-container">
                                        <h3>Studio A</h3>
                                        <img data-lazy="img/spaces/slides/studio-a.jpg"/>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                                            malesuada eu nunc ac laoreet. Donec sollicitudin tincidunt condimentum.
                                            In pellentesque.</p>
                                    </div>

                                </div>

                                <div class="space-slide">
                                    <div class="space-slide-container">
                                        <h3>Studio B</h3>
                                        <img data-lazy="img/spaces/slides/studio-b.jpg"/>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                                            malesuada eu nunc ac laoreet. Donec sollicitudin tincidunt condimentum.
                                            In pellentesque.</p>
                                    </div>
                                </div>

                                <div class="space-slide">
                                    <div class="space-slide-container">
                                        <h3>Studio C</h3>
                                        <img data-lazy="img/spaces/slides/studio-c.jpg"/>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                                            malesuada eu nunc ac laoreet. Donec sollicitudin tincidunt condimentum.
                                            In pellentesque.</p>
                                    </div>
                                </div>

                                <div class="space-slide">
                                    <div class="space-slide-container">
                                        <h3>Leisure</h3>
                                        <img data-lazy="img/spaces/slides/leisure.jpg"/>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                                            malesuada eu nunc ac laoreet. Donec sollicitudin tincidunt condimentum.
                                            In pellentesque.</p>
                                    </div>
                                </div>

                                <div class="space-slide">
                                    <div class="space-slide-container">
                                        <h3>Tech Shop</h3>
                                        <img data-lazy="img/spaces/slides/tech-shop.jpg"/>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                                            malesuada eu nunc ac laoreet. Donec sollicitudin tincidunt condimentum.
                                            In pellentesque.</p>
                                    </div>
                                </div>
                            </div>

                            <button id="SpaceSliderPrev" class="space-details-nav"></button>
                            <button id="SpaceSliderNext" class="space-details-nav right"></button>

                        </div>

                    </div>

                </section>

                <section class="additional-content people _tan">

                    <!--
                    // '########::'########::'#######::'########::'##:::::::'########:
                    //  ##.... ##: ##.....::'##.... ##: ##.... ##: ##::::::: ##.....::
                    //  ##:::: ##: ##::::::: ##:::: ##: ##:::: ##: ##::::::: ##:::::::
                    //  ########:: ######::: ##:::: ##: ########:: ##::::::: ######:::
                    //  ##.....::: ##...:::: ##:::: ##: ##.....::: ##::::::: ##...::::
                    //  ##:::::::: ##::::::: ##:::: ##: ##:::::::: ##::::::: ##:::::::
                    //  ##:::::::: ########:. #######:: ##:::::::: ########: ########:
                    // ..:::::::::........:::.......:::..:::::::::........::........::
                    // :'######:::::'###::::'########:::'#######::'##::::'##::'######::'########:'##:::::::
                    // '##... ##:::'## ##::: ##.... ##:'##.... ##: ##:::: ##:'##... ##: ##.....:: ##:::::::
                    //  ##:::..:::'##:. ##:: ##:::: ##: ##:::: ##: ##:::: ##: ##:::..:: ##::::::: ##:::::::
                    //  ##:::::::'##:::. ##: ########:: ##:::: ##: ##:::: ##:. ######:: ######::: ##:::::::
                    //  ##::::::: #########: ##.. ##::: ##:::: ##: ##:::: ##::..... ##: ##...:::: ##:::::::
                    //  ##::: ##: ##.... ##: ##::. ##:: ##:::: ##: ##:::: ##:'##::: ##: ##::::::: ##:::::::
                    // . ######:: ##:::: ##: ##:::. ##:. #######::. #######::. ######:: ########: ########:
                    // :......:::..:::::..::..:::::..:::.......::::.......::::......:::........::........::
                    -->

                    <div class="row">

                        <div class="col-xs-12 col-sm-10 col-sm-offset-1">

                            <div id="PeopleSlider">

                                <div class="people-slide">

                                    <div class="people-slide-container">

                                        <img class="portrait" data-lazy="img/people/matt-mangano.jpg"/>

                                        <h3>Matt Mangano</h3>

                                        <div class="spacer">

                                            <div class="piece left"></div>

                                            <div class="piece middle">
                                                <img src="img/spacer-center.png"/>
                                            </div>

                                            <div class="piece right"></div>

                                        </div>

                                        <div class="row-fluid">
                                            <p class="col-xs-12 col-sm-6">
                                                <span class="label">Position at Southern Ground Nashville:</span>
                                                <br/>
                                                Studio Director
                                            </p>
                                            <p class="col-xs-12 col-sm-6">
                                        <span class="label">
                                            Originally from:
                                        </span>
                                                <br/>
                                                Visalia, CA
                                            </p>
                                            <p class="col-xs-12 col-sm-6">
                                        <span class="label">
                                            How you got to Nashville:
                                        </span>
                                                <br/>
                                                I came to Nashville to join a band. The band didn't work out,
                                                but it
                                                led to many other fantastic opportunities that made me decide to
                                                stay.
                                            </p>
                                            <p class="col-xs-12 col-sm-6">
                                        <span class="label">
                                            How you got to SGN:
                                        </span>
                                                <br/>
                                                I was working for Zac's record label, making records in my
                                                basement
                                                studio. The time came for the operation to grow, and I helped
                                                Zac
                                                find the facility and open the studio.
                                            </p>

                                            <p class="col-xs-12 col-sm-6">
                                        <span class="label">
                                            Favorite Studio Mama Creation:
                                        </span>
                                                <br/>
                                                Levi Chicken followed by pound cake. Actually, forget the
                                                chicken -
                                                I'll just have the pound cake.
                                            </p class="col-xs-12 col-sm-6">

                                            <p class="col-xs-12 col-sm-6">
                                        <span class="label">
                                            Like most about SGN:
                                        </span>
                                                <br/>
                                                The studio is a home away from home. Every single bit of this
                                                place
                                                was made with love, especially the love for music, art, and the
                                                preservation of their history.
                                            </p>
                                            <p class="col-xs-12 col-sm-6">
                                        <span class="label">
                                            Best part of your job:
                                        </span>
                                                <br/>
                                                Working with my co-workers. Not only are they immensely talented
                                                in
                                                their craft, they are fiercely committed to doing whatever it
                                                takes
                                                to get the job done.
                                            </p>
                                            <p class="col-xs-12 col-sm-6">
                                        <span class="label">
                                            Fave piece of gear/equipment:
                                        </span>
                                                <br/>
                                                Ampex ATR-102
                                            </p>
                                            <p class="col-xs-12 col-sm-6">
                                        <span class="label">
                                            Hidden Talents?
                                        </span>
                                                <br/>
                                                I can juggle.
                                            </p>
                                            <p class="col-xs-12 col-sm-6">
                                        <span class="label">
                                            Hobbies?
                                        </span>
                                                <br/>
                                                Gardening and mindlessly reading Wikipedia entries
                                            </p>
                                            <p class="col-xs-12 col-sm-6">
                                        <span class="label">
                                            Best Dollar store purchase?
                                        </span>
                                                <br/>
                                                Official Darth Vader Key Chain
                                            </p>
                                        </div>

                                    </div>

                                </div>

                                <div class="people-slide">

                                    <div class="people-slide-container">

                                        <img class="portrait" data-lazy="img/people/brandon-bell.jpg"/>

                                        <h3>Branden Bell</h3>

                                        <div class="spacer">

                                            <div class="piece left"></div>

                                            <div class="piece middle">
                                                <img src="img/spacer-center.png"/>
                                            </div>

                                            <div class="piece right"></div>

                                        </div>
                                        <div class="row-fluid">
                                            <p class="col-xs-12 col-sm-6">
                                                <span class="label">One:</span>
                                                <br/>
                                                Two
                                            </p>
                                            <p class="col-xs-12 col-sm-6">
                                                <span class="label">
                                                    Three
                                                </span>
                                                <br/>
                                                Four
                                            </p>
                                        </div>

                                    </div>

                                </div>

                                <div class="people-slide">

                                    <div class="people-slide-container">

                                        <img class="portrait" data-lazy="img/people/rebecca-wood.jpg"/>

                                        <h3>Rebecca Wood</h3>

                                        <div class="spacer">

                                            <div class="piece left"></div>

                                            <div class="piece middle">
                                                <img src="img/spacer-center.png"/>
                                            </div>

                                            <div class="piece right"></div>

                                        </div>
                                        <div class="row-fluid">
                                            <p class="col-xs-12 col-sm-6">
                                                <span class="label">Placeholder:</span>
                                                <br/>
                                                Si.
                                            </p>
                                            <p class="col-xs-12 col-sm-6">
                                                <span class="label">
                                                    Placeholder Two:
                                                </span>
                                                <br/>
                                                De nada.
                                            </p>
                                        </div>

                                    </div>

                                </div>

                                <div class="people-slide">

                                    <div class="people-slide-container">

                                        <img class="portrait" data-lazy="img/people/chris-taylor.jpg"/>

                                        <h3>Chris Taylor</h3>

                                        <div class="spacer">

                                            <div class="piece left"></div>

                                            <div class="piece middle">
                                                <img src="img/spacer-center.png"/>
                                            </div>

                                            <div class="piece right"></div>

                                        </div>
                                        <div class="row-fluid">
                                            <p class="col-xs-12 col-sm-6">
                                                <span class="label">Placeholder:</span>
                                                <br/>
                                                Si.
                                            </p>
                                            <p class="col-xs-12 col-sm-6">
                                                <span class="label">
                                                    Placeholder Two:
                                                </span>
                                                <br/>
                                                De nada.
                                            </p>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <button id="PeoplePrev" class="people-details-nav"></button>
                            <button id="PeopleNext" class="people-details-nav right"></button>

                        </div>

                    </div>

                </section>

            </div>

            <button class="content-panel-close"></button>

        </div> <!-- content-panel-content -->
    </div> <!-- content-panel-container -->
</div> <!-- content-panel -->


<!-- <script src="js/vendor/jquery-3.1.0.min.js"></script> -->
<script src="js/vendor/jquery.min.js"></script>
<script src="js/plugins.js"></script>



<script type="text/javascript" src="js/vendor/highlight.pack.js"></script>
<script type="text/javascript" src="js/vendor/modernizr.custom.min.js"></script>
<script type="text/javascript" src="js/vendor/greensock/TweenMax.min.js"></script>
<script type="text/javascript" src="js/vendor/scrollMagic/ScrollMagic.min.js"></script>
<script type="text/javascript" src="js/vendor/scrollMagic/plugins/animation.gsap.min.js"></script>
<script type="text/javascript" src="js/vendor/scrollMagic/plugins/debug.addIndicators.min.js"></script>
<!-- <script type="text/javascript" src="../../js/lib/highlight.pack.js"></script> -->


<script src="js/vendor/parallax.min.js"></script>

<script src="js/vendor/slick.min.js"></script>

<script src="js/main.js"></script>

<!--
&lt;!&ndash; Google Analytics: change UA-XXXXX-X to be your site's ID. &ndash;&gt;
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
</script>
-->
</body>
</html>
