<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Southern Ground Nashville</title>
    <!--
    Build:
    {% include './src/rev.html' %}
    -->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/vendor/normalize.css">
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <meta property="og:url" content="" />
    <meta property="og:title" content="Southern Ground Nashville" />
    <meta property="og:image" content="http://southerngroundnashville.com/img/sgn-fbshare.jpg" />
    <meta property="og:description" content="In 1903, on the corner of 17th and McGavock, the Addison Ave. Cumberland Presbyterian Church built a beautiful brick sanctuary. In 1968, Fred Foster, founder of Monument Records, purchased the church and converted it into a recording studio. In 2012, Zac Brown bought the same building and transformed it into a first-class facility that inspires creation and satisfies the appetites of artists and musicians from around the world." />

    <link href='https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Ubuntu:300,400,700' rel='stylesheet'
          type='text/css'>

    <script src="js/vendor/modernizr.custom.min.js"></script>
</head>
<body>

<div id="Content">

    <header id="Home">

        <div class="wrapper">

            <img class="logo" src="img/logo.png"/>

            <nav class="site-nav">
                <a href="#Home" class="nav-link">Home</a>
                <a href="#About" class="nav-link">About</a>
                <a href="#Studio" class="nav-link">Studio</a>
                <a href="#Clients" class="nav-link">Clients</a>
                <a href="#Social" class="nav-link">Social</a>
                <a href="#Booking" class="nav-link">Booking</a>
            </nav>

            <nav class="social-nav">
                <a class="social facebook" target="_blank" href="https://www.facebook.com/southerngroundnashville">Facebook</a>
                <a class="social twitter" target="_blank" href="https://twitter.com/SG_Nashville">Twitter</a>
                <a class="social instagram" target="_blank" href="https://www.instagram.com/southerngroundnashville_">Instagram</a>
                <a class="social youtube" target="_blank" href="https://www.youtube.com/channel/UCPSzBwCSCswEEtGiOeu0ueA">YouTube</a>
            </nav>

        </div>

        <div class="hamburger-button"/>

        <div class="hamburger-menu" style="display: none">
            <nav class="site-nav">
                <a href="#Home" class="nav-link">Home</a>
                <a href="#About" class="nav-link">About</a>
                <a href="#Studio" class="nav-link">Studio</a>
                <a href="#Clients" class="nav-link">Clients</a>
                <a href="#Social" class="nav-link">Social</a>
                <a href="#Booking" class="nav-link">Booking</a>
            </nav>
            <nav class="social-nav">
                <a class="social facebook" href="#">Facebook</a>
                <a class="social twitter" href="#">Twitter</a>
                <a class="social instagram" href="#">Instagram</a>
                <a class="social youtube" href="#">YouTube</a>
            </nav>
        </div>

    </header>

    <div class="header-spacer"></div>

    <div id="Building" class="parallax">

        <div class="spacer s0"></div>

        <div id="parallax1" class="parallaxParent hidden-xs">
            <div class="parallax-image"></div>
        </div>

        <div class="static-cover building hidden-xs-up"></div>

    </div>

    <div class="content-container _tan">

        <div id="About" class="wrapper">

            <section class="hero">

                <div class="image col-xs-12 col-md-6">
                    <img src="img/sgn-homepage.jpg"/>
                </div>

                <div class="copy col-xs-12 col-md-6">

                    <h1>A Home in Music city</h1>

                    <div>
                        {{data.sections.hero.copy}}
                    </div>

                    <div class="read-more" data-target="section.additional-content.story">Read More</div>

                </div>
            </section>

            <div class="spacer">

                <div class="piece left"></div>

                <div class="piece middle">
                    <img src="img/spacer-center.png"/>
                </div>

                <div class="piece right"></div>

            </div>

            <section id="Studio" class="spaces">

                <h2>Spaces</h2>

                <div class="row">

                    {% for space in data.sections.spaces.list %}

                    <div class="space col-xs-12 col-sm-6 col-md-4 col-lg-5ths">

                        <a class="space-link"
                           data-target="section.additional-content.spaces"
                           data-slide-index="{{loop.index0}}"
                           data-tracking-label="{{space.name}}"
                           data-navigo
                           href="{{space.route}}"
                        >
                            <img src="{{space.image}}"/>
                            <h3>{{space.name}}</h3>
                        </a>

                    </div>

                    {% endfor %}

                </div>

                <div class="row">

                    <script type="text/template" class="pano-group">
                        {% for space in data.sections.spaces.list %}
                        {% if space.panoramicImages %}
                        {% for pano in space.panoramicImages %}
                        <span class="pano">
                            <span class="name">
                                {{pano.name}}
                            </span>
                            <span class="src">
                                {{pano.src}}
                            </span>
                        </span>
                        {% endfor %}
                        {% endif %}
                        c{% endfor %}
                    </script>

                    <a href="#" class='tour-button'>Take a 360 Tour</a>

                </div>

            </section>

        </div>

    </div>

    <div id="Musicians" class="parallax">

        <div id="parallax2" class="parallaxParent hidden-xs">
            <div class="parallax-image"></div>
        </div>

        <div class="static-cover muscians hidden-xs-up"></div>

    </div>

    <div class="content-container _rust">

        <div class="wrapper">

            <section class="our-people">

                <h2>Our People</h2>

                <div class="row">

                    {% for person in data.sections.people.list %}

                    <div class="person col-xs-12 col-sm-12 col-md-6 col-lg-3">

                        <a class="person-detail-link"
                           data-target="section.additional-content.people"
                           data-slide-index="{{loop.index0}}"
                           data-tracking-label="{{person.name}}"
                           data-navigo
                           href="{{person.route}}">
                            <div class="person-portrait">
                                <img src="{{person.image}}"/>
                            </div>
                            <h3>{{person.name}}</h3>
                            <span class="title">{{person.title}}</span>
                        </a>

                    </div>

                    {% endfor %}

                </div>

            </section>

        </div>

    </div>

    <div id="Amplifier" class="parallax">

        <div id="parallax3" class="parallaxParent hidden-xs">
            <div class="parallax-image"></div>
        </div>

        <div class="static-cover amplifier hidden-xs-up"></div>

    </div>

    <div class="content-container _tan">

        <div class="wrapper">

            <section id="Clients" class="legacy">

                <h2>Legacy</h2>

                <div class="row">
                    <div class="carousel-nav-column col-xs-2 col-sm-1">
                        <div id="LegacyPrev" class="carousel-nav left"></div>
                    </div>

                    <div id="Legacy-Slider" class="col-xs-8 col-sm-10">

                        {% for item in data.sections.legacy.list %}

                        <div class="legacy-item">

                            <img src="{{item.image}}"/>
                            <h3>{{item.name}}</h3>
                            <span class="legacy-item-title">{{item.title}}</span>, <span class="legacy-item-year">{{item.year}}</span>

                        </div>

                        {% endfor %}

                    </div>

                    <div class="carousel-nav-column col-xs-2 col-sm-1">
                        <div id="LegacyNext" class="carousel-nav right"></div>
                    </div>
                </div>


            </section>

            <div class="spacer">

                <div class="piece left"></div>

                <div class="piece middle">
                    <img src="img/spacer-center.png"/>
                </div>

                <div class="piece right"></div>

            </div>

            <section class="artists">

                {% for artist in data.sections.legacy.artists %}

                <div class="artist col-xs-12 col-sm-6 col-md-4">

                    {{artist}}

                </div>

                {% endfor %}

            </section>

        </div>

    </div>

    <div id="Studio" class="parallax">

        <div id="parallax4" class="parallaxParent hidden-xs">
            <div class="parallax-image"></div>
        </div>

        <div class="static-cover studio hidden-xs-up"></div>

    </div>

    <div id="Social" class="content-container _tan">

        <div class="wrapper">

            <section class="studio-happenings" id="social">

                <h2>Studio Happenings</h2>

                <div class="row" id="instagram">

                </div>

                <a class="read-more" href="{{data.sections.happenings.instagramURL}}" target="_blank">
                    View More on Instagram
                </a>

            </section>

        </div>

    </div>

    <div id="Engineering" class="parallax">

        <div id="parallax5" class="parallaxParent hidden-xs">
            <div class="parallax-image"></div>
        </div>

        <div class="static-cover engineering hidden-xs-up"></div>

    </div>

    <div id="Booking" class="content-container _tan">

        <div class="wrapper">

            <section class="contact container-fluid">

                <div class="row-fluid">

                    <div class="bookings-form col-xs-12 col-sm-6">

                        <h2>Contact</h2>

                        <form id="BookingsForm"
                              name="Bookings"
                              class="row-fluid"
                              action="{{data.contactFormUrl}}"
                              method="post">
                            <input name="bookings-name" type="text" placeholder="Name" class="col-xs-8 col-s-8"/>
                            <input name="bookings-company" type="text" placeholder="Company" class="col-xs-8 col-s-8"/>
                            <input name="bookings-email" type="text" placeholder="Email" class="col-xs-8 col-s-8"/>
                            <textarea name="bookings-text" class="col-xs-12"></textarea>
                            <span class="tour-disclaimer col-xs-12">Please Note: Since we are a working studio, we cannot be open to the public for tours.</span>
                            <div class="submit col-xs-12">
                                <button type="submit">
                                    Submit Request
                                </button>
                            </div>
                            <div class="error-text col-xs-12"></div>
                            <div class="success-text col-xs-12"></div>
                        </form>

                        <div class="row-fluid no-gutter">

                        </div>
                    </div>

                    <div class="contact-info col-xs-12 col-sm-6">
                        <h2>Location</h2>
                        <div>
                            <div class="vcard">
                                <p class="adr">
                                    <span class="street-address">114 17th Ave S</span><br>
                                    <span class="city">Nashville</span>,
                                    <span class="state">TN</span> <span class="postal-code">37203</span>
                                </p>
                            </div>

                        </div>
                        <div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3221.572370563829!2d-86.79535638443856!3d36.15262408008707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886466928ab6465f%3A0xdb2d5640908585fc!2s114+17th+Ave+S%2C+Nashville%2C+TN+37203!5e0!3m2!1sen!2sus!4v1474309503828" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>

            </section>

        </div>

    </div>

    <footer>
        <div class="wrapper">
            Website designed and developed by Southern Ground Creative. All content &copy; 2016 Southern Ground
            Nashville.
        </div>
    </footer>

</div>

<div id="FixedOverlay" class="content-panel" style="display: none">
    <div class="content-panel-container _tan">
        <div class="content-panel-content">

            <section class="additional-content story _tan">

                <h2>{{data.sections.hero.readMore.title}}</h2>

                <div class="scrollable-content">

                    {% for paragraph in data.sections.hero.readMore.copy %}
                    <p>{{paragraph}}</p>
                    {% endfor %}

                </div>

            </section>

            <section class="additional-content spaces _tan">

                {% for space in data.sections.spaces.list %}

                <div class="vertical-align spaceSlider_container" id="Space_{{loop.index0}}">

                    <div id="SpaceSliderPrev_{{loop.index0}}" class="carousel-nav"></div>

                    <div class="spaceCarousel">

                        <h3>{{space.name}}</h3>

                        <div id="SpaceSlider_{{loop.index0}}" class="spaceSlider">

                            {% for image in space.images %}

                            <div class="spaceSlider-slide">

                                <img src="{{image}}"/>

                            </div>

                            {% endfor %}

                        </div>

                        {{space.details.description | safe}}

                        {% if space.details.specs %}
                        <strong>Specs</strong>
                        <ul class="list-unstyled">
                            {% for spec in space.details.specs %}
                            <li>{{spec}}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                    </div>

                    <div id="SpaceSliderNext_{{loop.index0}}" class="carousel-nav right"></div>

                </div>

                {% endfor %}

            </section>

            <section class="additional-content people _tan">

                <div class="container-fluid">

                    <div class="row vertical-align layer-two">
                        <div class="hidden-xs col-sm-1 col-sm-offset-1">
                            <div id="PeopleSliderPrev" class="carousel-nav"></div>
                        </div>

                        <div class="hidden-xs col-sm-1 col-sm-offset-8">
                            <div id="PeopleSliderNext" class="carousel-nav right"></div>
                        </div>
                    </div>

                    <div class="row vertical-align layer-one">

                        <div class="col-xs-12 col-sm-8 col-sm-offset-2">

                            <div id="PeopleSlider">

                                {% for person in data.sections.people.list %}

                                <div class="people-slide">

                                    <img class="portrait" data-lazy="{{person.image}}"/>

                                    <h3>{{person.name}}</h3>

                                    <div class="spacer">

                                        <div class="piece left"></div>

                                        <div class="piece middle">
                                            <img src="img/spacer-center.png"/>
                                        </div>

                                        <div class="piece right"></div>

                                    </div>

                                    <div class="q-and-a">
                                        {% for point in person.bio.questions %}

                                        <p>
                                            <span class="question">{{point.question}}</span>
                                            <br/>
                                            {{point.answer}}
                                        </p>

                                        {% endfor %}

                                    </div>

                                </div>

                                {% endfor %}

                            </div>

                        </div>

                    </div>

                </div>

            </section>

            <section class="additional-content panoramas _tan">

                <div id="panoramaDisplay"></div>
                <div id="panoramaLinks" class="_tan">
                    {% for space in data.sections.spaces.list %}
                    {% if space.panoramicImages %}
                    {% for pano in space.panoramicImages %}
                    <a href="{{pano.src}}" class="pano-link">{{pano.name}}</a>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </div>

            </section>

            <div class="content-panel-close"></div>

        </div> <!-- content-panel-content -->
    </div> <!-- content-panel-container -->
</div> <!-- content-panel -->

<script src="js/plugins.js"></script>
<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/greensock/TweenMax.min.js"></script>
<script src="js/vendor/scrollMagic/ScrollMagic.min.js"></script>
<script src="js/vendor/scrollMagic/plugins/animation.gsap.min.js"></script>
<script src="js/vendor/slick.min.js"></script>
<script src="js/vendor/three.min.js"></script>
<script src="js/vendor/navigo.min.js"></script>
<script src="js/main.js"></script>

<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-54746522-9','auto');ga('send','pageview');
</script>

</body>
</html>
