header {
  padding: 16px 0 20px 0;
  background-color: $purple;
  min-height: 128px;

  div.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: $max-header-width;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-and-nav{
      text-align: center;
      .logo{
        float:left;
        @media only screen and (max-width: $extra-small){
          float: none;
        }
      }
    }

    .site-nav, .social-nav{
      color: $tan;
      text-align: center;
      display:flex;
      align-content: center;
      align-items: center;
      justify-content: space-between;
    }

    .site-nav{
      font-family: $fell;
      text-transform: uppercase;
      font-size: 18px;
      a.nav-link{
        text-decoration: none;
        color: inherit;
        &:not(:last-child){
          margin: 0 20px 0 0;
        }
      }
    }

    .social-nav{
      a.social {
        width: 27px;
        height: 27px;
        font-size: 0;
        display: inline-block;
        &:not(:last-child){
          margin: 0 10px 0 0;
        }
        background: url('../../img/social-icons.png');
        &.twitter {
          background: url('../../img/social-icons.png') -27px 0;
        }
        &.instagram {
          background: url('../../img/social-icons.png') -54px 0;
        }
        &.youtube {
          background: url('../../img/social-icons.png') -81px 0;
        }
      }
    }

    .nav-container{
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: space-around;
    }

    @media only screen and (max-width:$max-header-width - 1px){
      .logo, .social-nav{
        margin: 0 20px;
      }
    }

    @media only screen and (max-width:975px){
      .site-nav{
        flex-wrap: wrap;
        justify-content:space-around;
        a.nav-link{
          margin: 0 10px 0 10px;
          &:not(:last-child){
            margin: 0 10px 0 10px;
          }
        }
      }
    }

    @media only screen and (max-width:650px){
      flex-direction: column;
      .site-nav{
        margin: 20px 0 10px;
        a.nav-link{
          width: 50%;
          height:40px;
          margin: 0;
          &:not(:last-child){
            margin: 0;
          }
        }
      }
    }

  }
}