header {
  padding: 16px 0 20px 0;
  background-color: $purple;
  min-height: 128px;
  div.wrapper {

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1052px;

    .block {
      display: inline-block;
    }

    .logo {
      display: inline;
    }

    .nav, .social {
      display: block;
      list-style: none;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      color: $tan;
      li {
        display: block;
        &:last-child{
          padding-right: 0;
        }
      }
    }
    .social{
      li{
        a{
          margin: 0 10px 0 0;
        }
        &:last-child{
          a{
            margin-right: 0;
          }
        }
      }
    }
    .nav {
      font-family: $fell;
      text-transform: uppercase;
      font-size: 18px;

      li a{
        text-decoration: none;
        color: inherit;
      }
    }
    .social{
      a.social{
        width: 27px;
        height: 27px;
        font-size: 0;
        &.facebook{
          background: url('../../img/social-icons.png');
        }
        &.twitter{
          background: url('../../img/social-icons.png') -27px 0;
        }
        &.instagram{
          background: url('../../img/social-icons.png') -54px 0;
        }
        &.youtube{
          background: url('../../img/social-icons.png') -81px 0;
        }
      }
    }
  }
}