.parallaxParent {
  height: 460px;
  overflow: hidden;
  &#parallax1{
    .parallax-image{
      background-image: url(../img/backgrounds/building.jpg);
      background-position: center 24%;
    }
  }
  &#parallax2{
    .parallax-image{
      background-image: url(../img/backgrounds/musicians.jpg);
    }
  }
  &#parallax3{
    .parallax-image{
      background-image: url(../img/backgrounds/amplifier.jpg);
    }
  }
  &#parallax4{
    .parallax-image{
      background-image: url(../img/backgrounds/studio.jpg);
    }
  }
  &#parallax5{
    .parallax-image{
      background-image: url(../img/backgrounds/engineering.jpg);
    }
  }
}
.parallaxParent > * {
  height: 200%;
  position: relative;
  top: -100%;
  background-size: cover;

}
.parallax-window {
  min-height: 460px;
  background: transparent;
  background-position: top;
}
.parallax{
  height: 460px;
  padding-bottom:50px;
  @include extra-small{
    height: 320px;
  }
}
.static-cover{
  background-size: cover;
  background-position: center;
  height: 320px;
  &.building{
    background-position-y: top;
    background-image: url('../img/backgrounds/building.jpg');
  }
  &.muscians{
    background-image: url('../img/backgrounds/musicians.jpg');
  }
  &.amplifier{
    background-image: url('../img/backgrounds/amplifier.jpg');
  }
  &.studio{
    background-image: url('../img/backgrounds/studio.jpg');
  }
  &.engineering{
    background-image: url('../img/backgrounds/engineering.jpg');
  }
}

.row.text-center > div {
  display: inline-block;
  float: none;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

._tan{
  background: url('../img/backgrounds/pale-background.jpg');
  color: $purple;
}
._rust{
  background: url('../img/backgrounds/rust-background.jpg');
  color: $tan;
  font-family: $ubuntu;
}

div.content-container{
  .wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/*
Extension for Bootstrap to be able to support five equal columns
in a typical 12 col grid.
*/

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

/*
END Bootstrap Extension
*/

#About{
  .spacer{
    margin-top: 45px;
  }
}

@import "sections/sg-spacer";
@import 'sections/sg-hero';
@import 'sections/sg-spaces';
@import 'sections/sg-people';
@import 'sections/sg-legacy';
@import 'sections/sg-artists';
@import 'sections/sg-studio-happenings';
@import 'sections/sg-contact';
@import "sections/sg-content-panel";
@import "sections/sg-gear";

